In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.datasets import boston_housing
from keras.layers import Dense, Activation
from sklearn.preprocessing import MinMaxScaler

In [5]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cyclinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year','Origin']

dataset = pd.read_csv(url, names = column_names, na_values='?',
                      comment= '\t', sep = ' ', skipinitialspace = True)

In [6]:
dataset

,MPG,Cyclinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [7]:
mms = MinMaxScaler()
mms.fit(dataset)

dataset = mms.transform(dataset)
df = pd.DataFrame(dataset)
df

            0    1         2         3         4         5    6    7
0    0.239362  1.0  0.617571  0.456522  0.536150  0.238095  0.0  0.0
1    0.159574  1.0  0.728682  0.646739  0.589736  0.208333  0.0  0.0
2    0.239362  1.0  0.645995  0.565217  0.516870  0.178571  0.0  0.0
3    0.186170  1.0  0.609819  0.565217  0.516019  0.238095  0.0  0.0
4    0.212766  1.0  0.604651  0.510870  0.520556  0.148810  0.0  0.0
..        ...  ...       ...       ...       ...       ...  ...  ...
393  0.478723  0.2  0.186047  0.217391  0.333711  0.452381  1.0  0.0
394  0.930851  0.2  0.074935  0.032609  0.146583  0.988095  1.0  0.5
395  0.611702  0.2  0.173127  0.206522  0.193365  0.214286  1.0  0.0
396  0.505319  0.2  0.134367  0.179348  0.286929  0.630952  1.0  0.0
397  0.585106  0.2  0.131783  0.195652  0.313864  0.678571  1.0  0.0

[398 rows x 8 columns]

In [8]:
X = df.iloc[:, 4:6]
y = df.iloc[:, 0]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [12]:
print(X_train.shape)
print(y_train.shape)

(318, 2)
(318,)

In [13]:
model = Sequential()
model.add(Dense(1, input_dim = 2))
model.add(Activation('linear'))

In [14]:
model.compile(loss = 'mse', optimizer = 'sgd')

In [15]:
history = model.fit([X_train], [y_train], epochs = 50, verbose = 1)

Epoch 1/50
10/10 [==============================] - 3s 5ms/step - loss: 0.4839
Epoch 2/50
10/10 [==============================] - 0s 4ms/step - loss: 0.3519
Epoch 3/50
10/10 [==============================] - 0s 5ms/step - loss: 0.2750
Epoch 4/50
10/10 [==============================] - 0s 6ms/step - loss: 0.2291
Epoch 5/50
10/10 [==============================] - 0s 5ms/step - loss: 0.2013
Epoch 6/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1841
Epoch 7/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1728
Epoch 8/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1650
Epoch 9/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1595
Epoch 10/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1552
Epoch 11/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1517
Epoch 12/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1485
Epoch 13/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1458
Epoch 14/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1431
Epoch 15/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1407
Epoch 16/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1383
Epoch 17/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1360
Epoch 18/50
10/10 [==============================] - 0s 6ms/step - loss: 0.1338
Epoch 19/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1315
Epoch 20/50
10/10 [==============================] - 0s 8ms/step - loss: 0.1294
Epoch 21/50
10/10 [==============================] - 0s 6ms/step - loss: 0.1272
Epoch 22/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1252
Epoch 23/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1232
Epoch 24/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1212
Epoch 25/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1193
Epoch 26/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1175
Epoch 27/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1157
Epoch 28/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1139
Epoch 29/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1122
Epoch 30/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1105
Epoch 31/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1088
Epoch 32/50
10/10 [==============================] - 0s 4ms/step - loss: 0.1071
Epoch 33/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1056
Epoch 34/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1040
Epoch 35/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1025
Epoch 36/50
10/10 [==============================] - 0s 5ms/step - loss: 0.1010
Epoch 37/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0995
Epoch 38/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0981
Epoch 39/50
10/10 [==============================] - 0s 6ms/step - loss: 0.0967
Epoch 40/50
10/10 [==============================] - 0s 7ms/step - loss: 0.0954
Epoch 41/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0940
Epoch 42/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0927
Epoch 43/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0915
Epoch 44/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0902
Epoch 45/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0889
Epoch 46/50
10/10 [==============================] - 0s 4ms/step - loss: 0.0878
Epoch 47/50
10/10 [==============================] - 0s 4ms/step - loss: 0.0867
Epoch 48/50
10/10 [==============================] - 0s 4ms/step - loss: 0.0855
Epoch 49/50
10/10 [==============================] - 0s 5ms/step - loss: 0.0843
Epoch 50/50
10/10 [==============================] - 0s 4ms/step - loss: 0.0833

In [16]:
predict = model.predict(X_test)
predict

array([[0.39345938],
       [0.41455406],
       [0.29528272],
       [0.44685197],
       [0.27997005],
       [0.5411716 ],
       [0.37740785],
       [0.41875815],
       [0.51363224],
       [0.5021308 ],
       [0.7091734 ],
       [0.43219805],
       [0.2917565 ],
       [0.48682338],
       [0.20713007],
       [0.2859714 ],
       [0.37033933],
       [0.46837127],
       [0.20850366],
       [0.18903846],
       [0.34188753],
       [0.3094781 ],
       [0.2842216 ],
       [0.4834572 ],
       [0.42750138],
       [0.4969564 ],
       [0.42976815],
       [0.31227058],
       [0.18259943],
       [0.31008357],
       [0.38119203],
       [0.23799556],
       [0.28716105],
       [0.16510761],
       [0.18806243],
       [0.2764892 ],
       [0.40332252],
       [0.37159258],
       [0.8094782 ],
       [0.435732  ],
       [0.59493774],
       [0.50031435],
       [0.42915744],
       [0.25465518],
       [0.30294836],
       [0.42156893],
       [0.43285716],
       [0.39867914],
       [0.0949429 ],
       [0.27448356],
       [0.17709154],
       [0.8084803 ],
       [0.38201636],
       [0.37518024],
       [0.4727109 ],
       [0.495623  ],
       [0.22994843],
       [0.16379291],
       [0.41158593],
       [0.25449783],
       [0.39944673],
       [0.3233369 ],
       [0.19869894],
       [0.6787748 ],
       [0.81847996],
       [0.28694475],
       [0.3330937 ],
       [0.12847579],
       [0.48838407],
       [0.42559373],
       [0.7660765 ],
       [0.00215727],
       [0.40396553],
       [0.1936152 ],
       [0.32531863],
       [0.6174628 ],
       [0.73149306],
       [0.40915865],
       [0.4126286 ],
       [0.12915578]], dtype=float32)